<style>
	
	.Header1{ font-family: Arial; color: blue}

	.Content {width: 600px; font-family: Arial}

</style>

<center><h1 class=Header1>About Me</h1>

<h3 class=Header1>Biography</h3>

<p class=Content>Hi! My name is Kyle. I was born in Dorchester, Massachusetts but currently live in Atlanta, Georgia. I graduated with a BA in English from the University of Florida (Go Gators!). I work as a Technical Support Advisor for CareerBuilder. My current profession is opening up numerous doors to passions I never knew I had, the most notable of which is programming and development. I enjoy the gratifying feeling when creating or fixing something and am excited at being on the cutting edge of today’s technological advances.</p>

<center><img src="<%= image_path('My_Profile_Image.jpg') %>" width="400" height+"400"></center>

<br>
<br>

<img src="<%= image_path('how-does-bto-work-taylor-guitars.jpg') %>">

</body>