
<p class=Content >About Me

<br>
<br>

Hi! My name is Kyle. I was born in Dorchester, Massachusetts but currently live in Atlanta, Georgia. I graduated with a BA in English from the University of Florida (Go Gators!). I work as a Technical Support Advisor for CareerBuilder. My current profession is opening up numerous doors to passions I never knew I had, the most notable of which is programming and development. I enjoy the gratifying feeling when creating or fixing something and am excited at being on the cutting edge of today’s technological advances.</p>

<img class=image src="<%= image_path('My_Profile_Image.jpg') %>" width="400" height+"400">