<style>
	
	.Header1{ font-family: Arial; }

	body {background-color: #FFA375}

</style>

<body>

<h1 class=Header1>Welcome Index</h1>

<h2 class=Header1>Kyle's Blog</h2>

<p class=Header1>Date: January 17th, 2015</p>

<h4 class=Header1>Taylor Guitars</h4>

<a href="http://taylorguitars.com">
	<img src="http://cosmomusic.ca/wordpress/wp-content/uploads/2014/08/Taylor-custom-GO-GAce-GA-2014.jpg" width="438" height="302">
</a>

<br>

<h4 class=Header1>Martin Guitars</h4>

<a href="http://martinguitar.com">
	<img src="http://www.elfa.com.au/assets/images/SS-000S-14WebBanner-fb63271f-71fc-4d50-b09f-8addc81be518.jpg" width="438" height="250">
</a>


</body>