<style>
	
	.Header1 { font-family: Arial; color: blue}

	body {background-color: #FFA375; border: 10px solid blue}

	.Content {width: 600px; font-family: Arial}

</style>

<body>

<center>

<h1 class=Header1>Welcome Index</h1>

<h2 class=Header1>Kyle's Blog</h2>

<p class=Header1>Date: January 17th, 2015</p>

<p class=Content>You can learn a lot about a musician from the brand of instrument they prefer. Each brand has a unique list of pros and cons that make that brand more suitable for specific styles of music or settings. Take guitars as an example. The two most famous brands of acoustic guitars are Taylor and Martin.</p>

<h4 class=Header1>Taylor Guitars</h4>

<p class=Content>Taylor guitars, the younger of the two brands are expecially known for their brightness. This means that they cut through a mix extremely well and are best suited for musicians that are accompanied by a full band. Their sound is clean and crisp with a great deal of high end. The downside of that is that sometimes they can be chimey and brittle. So if you are in the market for a new acoustic and Taylor is the brand that most catches your eye, might I suggest leaning towards darker woods such as rosewood, mahogany or cocobolo and away from brighter woods like maple. The combination of Taylor's brightness and a darker tonewood make for a majestic match.</p>

<a href="http://taylorguitars.com">
	<img src="http://cosmomusic.ca/wordpress/wp-content/uploads/2014/08/Taylor-custom-GO-GAce-GA-2014.jpg" width="438" height="302">
</a>

<br>

<h4 class=Header1>Martin Guitars</h4>

<p class=Content>Martin guitars are the age old and rather classic instrument that virtually everyone knows about. They have been one of the best in the business since the early 1800's. Their D-28 dreadnought model revolutionized the acoustic world and builder's from all around the world have been trying to recreate that magic ever since. Martin's are known for their incredible warmth. They are perfect for solo or acoustic sets and compliment a vocalist perfectly. The struggle some musicians face with Martin is when they play in a full band, sometimes they are drowned out.</p>

<a href="http://martinguitar.com">
	<img src="http://www.elfa.com.au/assets/images/SS-000S-14WebBanner-fb63271f-71fc-4d50-b09f-8addc81be518.jpg" width="438" height="250">
</a>

<p class=Content>At the end of the day, it is all about the way the instruments sound. The logo on the headstock of the instrument should be secondary in comparison to the way the instrument feels in your hands and the way it moves you when it's strummed. So the next time you find yourself in the classic Taylor vs. Martin debate, remember that it has never been the brand that moved an audience to tears or dancing.</p>

<br>

<a href="http://www.fixmybeard.com/welcome/about">About Page</a>

<br>

</center>

</body>